
  .second-text {
    color: black;
    font-size: 14px;
  }
  .bg {
    background:  #FAFFC1;
  }
  .rounded-full {
    border-radius: 100%;
  }
    #wrapper {
    overflow-x: hidden;
  }
  
  #sidebar-wrapper {
    min-height: 100%;
    margin-left: -240px;
  }
  

 .profile{
    width: 120px;
    height: 120px;

 }
 .list-group a:hover{
     background: #00C1FE !important;
 }  
  #sidebar-wrapper .list-group {
    width: 240px;
  }
  
  #page-content-wrapper {
    min-width: 50%;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }
  
  .list-group-item {
    border: none;
    margin:0  30px;
  }
  
 .card_student{
  background: #F0F9FF ;
 }
 .card_student i{
  color: #74C1ED ;

  #EE95C5
 }
.card_cours{
 background: #FEF6FB;
}
.card_cours i{
  color:  #EE95C5;
 }
.card_payment{
  background: #FEFBEC;
 }
 .card_payment i{
  color: #00C1FE;
 }
 .card_user{
  background: linear-gradient(110.42deg, #00C1FE 18.27%, #FAFFC1 91.84%);

 }
 .card_user i {
  color: white;
 }
 
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -240px;
    }
  }