
  .second-text {
    color: black;
    font-size: 14px;
  }
  .bg {
    background:  #FAFFC1;
  }
  .bg_content{
      background: #E5E5E5;;
  }
  .rounded-full {
    border-radius: 100%;
  }
    #wrapper {
    overflow-x: hidden;
  }
  
  #sidebar-wrapper {
    min-height: 100%;
    margin-left: -240px;
  }
  

 .profile{
    width: 120px;
    height: 120px;

 }
 .list-group a:hover{
     background: #00C1FE !important;
 }  
  #sidebar-wrapper .list-group {
    width: 240px;
  }
  
  #page-content-wrapper {
    min-width: 100%;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }
  
  .list-group-item {
    border: none;
    margin:0  30px;
  }
  
 td i{
     color: #00C1FE ;
 }
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -240px;
    }
  }